body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

main {
    width: 800px;
}

main span {
    margin-right: 50px;
}

main span:last-of-type {
    float: right;
}

main form {
    margin-bottom: 50px;
}