<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: maincontent(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title th:text="${questionnaire.title}"></title>
</head>
<body>
    <section>
        <form>
            <fieldset disabled>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" class="form-control" th:placeholder="${questionnaire.title}">
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input type="text" id="desc" class="form-control" th:placeholder="${questionnaire.description}">
                </div>
            </fieldset>
        </form>
    </section>
</body>
</html>